@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.presentation-content-over{
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    background-color: #d16b6b;
}

.presentation-content{
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    background-color: #6bd1d1;
}

.presentation-content h1, .presentation-content h2 {
    margin: 20px 0;
}

.presentation-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.presentation-content ul li {
    font-size: 25px;
    margin: 5px 0;
}

.presentation-content button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'VT323', monospace;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.presentation-content button:hover {
    background-color: #45a049;
}


.game-board{
    width: 100%;
    height: 700px;
    border-bottom: 50px solid #23a023;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.game-board p{
    position: absolute;
    color: black;
    font-family: 'VT323', monospace;
    bottom: 0;
    font-size: 20px;
    left: 40%;
}

.game-over{
    position: absolute;
    color: red;
    font-family: 'VT323', monospace;
    font-size: 100px;
    background-color: #080808ea;
    width: 50%;
    height: 50%;
    left: 350px;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resposta{
    font-family: 'VT323', monospace;
    left: 63%;
    height: 60%;
    width: 35%;
    bottom: 3%;
    position: absolute;
    background-color: rgb(211, 208, 208);
    max-width: 35%;
    display: block;
    overflow: auto;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
} 

.resposta button {
    bottom: 1%;
    font-family: 'VT323', monospace;
    font-size: 20px;
    position: absolute;
    left: 35%;
    padding: 10px 20px; 
}

.question {
    font-family: 'VT323', monospace;
    left: 3%;
    height: 60%;
    width: 35%;
    bottom: 3%;
    position: absolute;
    background-color: rgb(211, 208, 208);
    max-width: 35%;
    display: flex; /* Alterado para flex para alinhar os botões lado a lado */
    flex-direction: column; /* Alinha os elementos em coluna por padrão */
    align-items: flex-start; /* Alinha os elementos à esquerda */
    overflow: auto;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
}

.question h1, .question h2, .question h3, .question span {
    margin-top: 0;
    margin-bottom: 1em;
}

.question button {
    font-family: 'VT323', monospace;
    font-size: 20px;
    padding: 10px 20px; 
    margin-top: 5px; /* Adiciona um espaçamento entre os botões */
    margin-right: 5px; /* Adiciona um espaçamento entre os botões */
}

.level{
    color: black;
    font-family: 'VT323', monospace;
    bottom: 0;
    position: absolute;
    left: 45%;
    font-size: 58px;
    border: solid;
    align-tracks: center;
    background-color: #23a023;
}

.clouds{
    position: absolute;
    width: 825px;
    height: 240px;
    animation: clouds-animation 20s infinite linear;
}

.pipe{
    position: absolute;
    left: 43%;
    bottom: 0;
    width: 110px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 180px;
    left: 38.5%;
    position: absolute;
    bottom: 18%;
}

.coracao{
    width: 35px;
    left: 52%;
    position: absolute;
    bottom: 0;
}

.coracao2{
    width: 35px;
    left: 55%;
    position: absolute;
    bottom: 0;
}

.coracao3{
    width: 35px;
    left: 58%;
    position: absolute;
    bottom: 0;
}

.coracao4{
    width: 35px;
    left: 53.5%;
    position: absolute;
    bottom: 5%;
}

.coracao5{
    width: 35px;
    left: 56.5%;
    position: absolute;
    bottom: 5%;
}

.jump{
    animation: jump 500ms ease-out;
}



@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -826px;
    }
    to{
        right: 100%;
    }
}